/******************************************************************************
 * Name        : jtable jQuery plug-in 'standard blue' theme
 * Author      : Halil İbrahim KALKAN
 * Description : This file defines 'blue' colors for jtable standard theme.
 *****************************************************************************/

/* IMPORTS *******************************************************************/

@import '../jtable_standard_base.css';

/* MAIN ELEMENTS *************************************************************/

/* Main container of all elements those are created by jtable plugin */
div.jtable-main-container
{
    color: #333;
    
}

/* A div that contains title of the table (if any title supplied in options) */
div.jtable-title
{
    background:#ffffff !important;
    color: #333333;
    border: none !important;
}

/* Main table tag */
table.jtable
{
  
   border: 1px solid #e8e8e8 !important;
    border-collapse: collapse;
}

/* A panel below the table that contains some commands */
div.jtable-bottom-panel
{
    /*background-color: #e0e8e3;
    border-color: #c6e1ce;
*/
}

/* HEADER ********************************************************************/

/* All header cells in the table */
table.jtable th
{
   /* background:url('header-bg.gif')  left; */
   /*background-color:#f0f0f0 !important;*/
   background-color:#485472 ;
    /*color:#cfe7d6; */
    /*color:#333 !important;*/
    color:#fff !important;
    border: solid 1px #dcdcdc;
    height:28px !important;    
}

th.jtable-column-header
{
    height:28px !important;
}

table.jtable td
{
    height:15px;
    padding: 5px 13px;
    border: solid 1px #dcdcdc;
}

/* PAGING ********************************************************************/

/* Page numbers */
.jtable-page-number,
/* First page link */
.jtable-page-number-first,
/* Last page link */
.jtable-page-number-last,
/* Previous page link */
.jtable-page-number-previous,
/* Next page link */
.jtable-page-number-next
{
    background-color: #cfe7d6;
    border: 1px solid #99cc99;
}

/* Page numbers */
.jtable-page-number:hover,
/* First page link */
.jtable-page-number-first:hover,
/* Last page link */
.jtable-page-number-last:hover,
/* Previous page link */
.jtable-page-number-previous:hover,
/* Next page link */
.jtable-page-number-next:hover
{
    background-color: #e7fee7;
}

/* Active/current page link */
.jtable-page-number-active
{
    background-color: #e7fee7;
    border: 1px solid #99cc99;
    color: #333;
    font-weight: bold;
}

/* ROWS **********************************************************************/

/* All rows in the table */
table.jtable tr
{
    background-color:#f0f0f0 ;
}

/* Even rows */
table.jtable tr.jtable-row-even
{
    color: #33333;
    background-color: #ffffff;
}

/* Rows when mouse over */
table.jtable tr:hover
{
    background-color: #ffffcb;
}

/* Rows when duplicate */
table.jtable tr.HighlightedRow
{
    background-color: #ff4e4e;
    border-color: #ff0000;
}

/* Rows when NonUMG */
table.jtable tr.NonUMG
{
    background-color: #ff4e4e;
    border-color: #ff0000;
}

/* Selected row */
table.jtable tr.jtable-row-selected
{
    color: #333;
    background-color:#ffffcb ;
}

/* Style for a child row */
table.jtable tr.jtable-child-row
{
    background-color: #b1ffcb;
}

/* ROW ANIMATIONS ***********************************************************/

/* A 'new created row' style for animation */
table.jtable tr.jtable-row-created
{
    background-color: #00FF89;
}

/* An 'updated row style' for animation */
table.jtable tr.jtable-row-updated
{
    background-color: #00FFFF;
}

/* A 'deleting row style' for animation */
table.jtable tr.jtable-row-deleting
{
    background-color: #FF0000;
}

/* COMMAND BUTTONS ***********************************************************/

/* 'add new record' link */
span.jtable-add-record a
{
    color: #18b749;
}

/* FORM INPUT ELEMENTS *******************************************************/

/* A div that contains a label (title) and input field */
div.jtable-input-field-container
{
    background-color: #ecf6ef;
    border-color: #c6e1ce;
}

/* BUSY MESSAGE AND PANEL ****************************************************/

/* A panel to block table UI while is busy */
div.jtable-busy-panel-background
{
    background-color: #000000;
}

/* A div that contains a message while table UI is busy */
div.jtable-busy-message
{
  
    border:0;
    background: url('loading.gif') no-repeat;
    background-position: 5px;
    margin:39px 49px 49px 382px
    /*background-color: #8affab;*/
}
.ui-widget-content A
{
    color:#222222;
    text-decoration:underline;
    font-size:11px;
}
.btnVertAlign
{
    width:75px !important;
    margin-top:3px !important;
    margin-bottom:3px !important;
    vertical-align:middle !important;
}
.imgBorder
{
  border:0 0 0 0 !important;
  background-color:#ffffff !important;
  vertical-align:middle !important;
  margin-right:0px !important;
  padding-right:0px !important;
}

table.jtable th
{
    text-align: left;
    font-size: 11px;
    padding: 4px 5px !important;
    /*color:#333;*/
    color:#fff;
    height: 23px;
    position:static !important;
}
table.jtable td 
 {
     padding:3px 6px 3px !important;
     height:35px;
     vertical-align:top;
 }
 .jtable-title
{
    text-align: left;
    float:left;
    background-color:#ffffff !important;
    border-bottom: none;
    padding: 1px;
    height: 24px;
    position: relative;
}

input[type=button]{width: 76px !important; }