@model UMGI.GRCS.UI.Models.CustomWorkQueueModel
<script src="@Url.Content("/GCS/Scripts/Custom/CustomSetting.js")" type="text/javascript"></script>
<link href="@Url.Content("/GCS/Content/SubPages/CustomSetting.min.css")"  rel="stylesheet" type="text/css" />
<div>
    @Html.Label("Test")
</div>
<div>
    <select id="test" name="test">
        <option value="1">Test1</option>
        <option value="2">Test2</option>
        <option value="3">Test3</option>
    </select></div>
