<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- <configsections> -->
  <!-- <section name="datacacheclient" type="microsoft.applicationserver.caching.datacacheclientsection, microsoft.applicationserver.caching.core" allowlocation="true" allowdefinition="everywhere" /> -->
  <!-- </configsections> -->
  <!-- <datacacheclient> -->
  <!-- <securityproperties mode="none" protectionlevel="none" /> -->
  <!-- <hosts> -->
  <!-- <host name="ushpewviis263" cacheport="22233" /> -->
  <!-- </hosts> -->
  <!-- </datacacheclient> -->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime requestValidationMode="2.0" executionTimeout="600" />
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Syncfusion.Core, Version=11.104.0.21, Culture=neutral, PublicKeyToken=632609B4D040F6B4" />
        <add assembly="Syncfusion.Shared.Mvc, Version=11.134.0.21, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.Tools.Mvc, Version=11.134.0.21, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.Grid.Mvc, Version=11.134.0.21, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.Linq.Base, Version=11.104.0.21, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.Theme.Base, Version=11.104.0.21, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.Compression.Base, Version=11.104.0.21, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.XlsIO.Mvc, Version=11.134.0.21, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
      </assemblies>
    </compilation>
    <globalization culture="en-GB" uiCulture="auto:en-GB" />
    <!-- <sessionstate mode="custom" customprovider="appfabriccachesessionstoreprovider" timeout="720"> -->
    <!-- <providers> -->
    <!-- <add name="appfabriccachesessionstoreprovider" type="microsoft.applicationserver.caching.datacachesessionstoreprovider" cachename="umg_gcs_ui_session_data"/> -->
    <!-- </providers> -->
    <!-- </sessionstate> -->
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Syncfusion.Mvc.Shared" />
        <add namespace="Syncfusion.Mvc.Tools" />
        <add namespace="Syncfusion.Mvc.Grid" />
        <add namespace="Syncfusion.Shared.Mvc" />
      </namespaces>
    </pages>
    <customErrors mode="Off" defaultRedirect="/GCS/Error.htm">
      <error statusCode="401" redirect="/GCS/UnAuthorized.htm" />
      <error statusCode="500" redirect="/GCS/Error.htm" />
    </customErrors>
    <httpHandlers>
      <add verb="GET,HEAD" path="MvcResourceHandler.axd" type="Syncfusion.Mvc.Shared.MvcResourceHandler, Syncfusion.Shared.Mvc, Version=11.134.0.21, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" validate="false" />
    </httpHandlers>
    <httpModules>
      <add type="UMGI.GRCS.UI.Helper.QueryStringEncryptorModule" name="QueryStringEncryptorModule" />
      <add type="System.Web.SessionState.SessionStateModule" name="Session" />
    </httpModules>
  </system.web>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ContractService" value="http://localhost:7778/Contract/Contract.svc" />
    <add key="ArtistService" value="http://localhost:7778/Artist/Artist.svc" />
    <add key="ProjectService" value="http://localhost:7778/Project/Project.svc" />
    <add key="ReleaseService" value="http://localhost:7778/Release/Release.svc" />
    <add key="ResourceService" value="http://localhost:7778/Resource/Resource.svc" />
    <add key="RightsService" value="http://localhost:7778/Rights/Rights.svc" />
    <add key="UserService" value="http://localhost:7778/User/User.svc" />
    <add key="GrcsUtilityService" value="http://localhost:7778/Utility/Utility.svc" />
    <add key="WorkQueueService" value="http://localhost:7778/WorkQueue/WorkQueue.svc" />
    <add key="WorkgroupService" value="http://localhost:7778/Workgroup/Workgroup.svc" />
    <add key="GlobalService" value="http://localhost:7778/Global/Global.svc" />
    <add key="RepertoireService" value="http://localhost:7778/Repertoire/Repertoire.svc" />
    <add key="ClearanceInboxService" value="http://localhost:7778/ClearanceInbox/ClearanceInbox.svc" />
    <add key="ClearanceProjectService" value="http://localhost:7778/ClearanceProject/ClearanceProject.svc" />
    <add key="ClearanceReleaseService" value="http://localhost:7778/ClearanceRelease/ClearanceRelease.svc" />
    <add key="ClearanceResourceService" value="http://localhost:7778/ClearanceResource/ClearanceResource.svc" />
    <add key="RoutingService" value="http://localhost:7778/Routing/Routing.svc" />
    <add key="Binding" value="BasicHttp" />
    <!--<add key="Binding" value="NetTcp" />-->
    <add key="IsSecured" value="false" />
    <add key="ServiceTimeOut" value="10" />
    <add key="LoggingType" value="log4net" />
    <add key="PageSize" value="25" />
    <add key="PageSizeValues" value="25,50,75,100" />
    <add key="UserName" value="TartabD" />
    <add key="ApplicationName" value="Gcs" />
    <add key="R2SearchCompanyId" value="15621" />
    <add key="aspnet:MaxHttpCollectionKeys" value="40000" />
    <add key="RequestorWorkGroupId" value="4" />
    <add key="sfJqueryload" value="false" />
    <add key="MaxByteArrayLength" value="4194304" />
    <add key="ReleasePageSize" value="10" />
    <add key="LOGGING_CONFIG" value="C:\GRCS_Agile\GCS\Dev\GCS_Dev\SourceCode\loggingConfig\logging.config" />
    <add key="IsBindingInConfig" value="true" />
    <add key="PCompanyService" value="http://localhost:7778/Company/PCompany.svc" />
    <add key="ReportService" value="http://localhost:7778/Report/Report.svc" />
    <add key="AppVersion" value="DEV" />
    <add key="AppEnvironment" value="GRCS Local" />
    <add key="AppBuildDate" value="30 Oct 2013" />
    <add key="IsContractAdminModuleOnly" value="false" />
    <add key="IsLocalDateTimeEnabled" value="false" />
    <add key="ReportServerUrl" value="http://ds-6cf049fd2e57/ReportServer" />
    <add key="ReportUserDomain" value="Global" />
    <add key="ReportUserName" value="vinod.chaudhary" />
    <add key="ReportUserPassword" value="India^123" />
    <add key="ReportPath" value="/DEV/" />
    <add key="IsLocalDateTimeEnabled" value="true" />
    <add key="IsErrorInfoEnabled" value="false" />
    <add key="RequestSummaryGridPageSize" value="100" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="MvcResourceHandler" />
      <add verb="GET,HEAD" name="MvcResourceHandler" path="MvcResourceHandler.axd" type="Syncfusion.Mvc.Shared.MvcResourceHandler, Syncfusion.Shared.Mvc, Version=11.134.0.21, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
    </handlers>
    <!-- <staticContent> -->
    <!-- <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" /> -->
    <!-- </staticContent> -->
  </system.webServer>
  <runtime>
     <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="httpBinding" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="tcpBinding" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" transactionFlow="false" transferMode="Buffered" listenBacklog="1000" maxBufferPoolSize="2147483646" maxBufferSize="2147483646" maxConnections="1000" maxReceivedMessageSize="2147483646" portSharingEnabled="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483646" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:7778/ClearanceProject/ClearanceProject.svc" binding="basicHttpBinding" bindingConfiguration="httpBinding" contract="ClearanceProjectService.IClearanceProject" name="basicHttpBinding_IClearanceProject" />
      <endpoint address="http://localhost:7778/ClearanceRelease/ClearanceRelease.svc" binding="basicHttpBinding" bindingConfiguration="httpBinding" contract="ClearanceReleaseService.IClearanceRelease" name="basicHttpBinding_IClearanceRelease" />
      <endpoint address="http://localhost:7778/ClearanceResource/ClearanceResource.svc" binding="basicHttpBinding" bindingConfiguration="httpBinding" contract="ClearanceResourceService.IClearanceResource" name="basicHttpBinding_IClearanceResource" />
      <endpoint address="http://localhost:7778/ClearanceInbox/ClearanceInbox.svc" binding="basicHttpBinding" bindingConfiguration="httpBinding" contract="ClearanceInboxService.IClearanceInbox" name="basicHttpBinding_IClearanceInbox" />
      <endpoint address="http://localhost:7778/User/User.svc" binding="basicHttpBinding" bindingConfiguration="httpBinding" contract="UserService.IUser" name="basicHttpBinding_IUser" />
      <endpoint address="http://localhost:7778/Workgroup/Workgroup.svc" binding="basicHttpBinding" bindingConfiguration="httpBinding" contract="WorkgroupService.IWorkgroup" name="basicHttpBinding_IWorkgroup" />
      <endpoint address="http://localhost:7778/Global/Global.svc" binding="basicHttpBinding" bindingConfiguration="httpBinding" contract="GlobalService.IGlobal" name="basicHttpBinding_IGlobal" />
      <endpoint address="http://localhost:7778/Contract/Contract.svc" binding="basicHttpBinding" bindingConfiguration="httpBinding" contract="ContractService.IContract" name="basicHttpBinding_IContract" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.transactions>
    <defaultSettings timeout="00:10:00" />
  </system.transactions>
</configuration>