################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GCS_UI_PrimeNG/SourceCode/.vs/GCS_UI/v15
