/*Style Sheet For DynamicMenu*/

/* TAB MENU
----------------------------------------------------------*/
ul#menu {
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        color: #000;
        text-decoration: none;
        float: left;
    }

        ul#menu li a {
            color: #000;
            text-decoration: none;
            font-weight: normal;
        }

        ul#menu li label {
            padding: 0px 10px;
        }

        ul#menu li#greeting {
            padding: 10px 20px;
            font-weight: bold;
            text-decoration: none;
            line-height: 2.8em;
            color: #fff;
        }

.menucolor ul li a {
    color: #143489 !important;
}

.menucolor {
    color: #143489;
}

ul#menu li a:hover {
    color: #000;
    text-decoration: none;
}

ul#menu li a:active {
    color: #000;
    text-decoration: none;
}

ul#menu li.selected a {
    color: #000;
}

ul#subnavlist li a:hover {
    background: #b8d0e9 !important;
    display: block;
    color: #143489 !important;
    *color: #143489 !important;
    padding: 3px 10px;
}

/*********************** Admin Setting ***************/
ul#navlist, ul#navlist li {
    float: left;
}

    ul#navlist a {
        font-weight: bold;
        text-decoration: none;
        z-index: 5000;
    }

    ul#navlist, ul#navlist ul, ul#navlist li {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        z-index: 5000;
    }

        ul#navlist li a {
            color: #003199;
            margin-right: 5px;
            padding: 10px 17px 11px 10px;
            z-index: 5000;
        }

#adminSettingArrow {
    background-image: url('/Gcs/Images/Acc_Arrow_Down.png');
    background-repeat: no-repeat;
    background-position: right;
    width: 9px;
    height: 5px;
}

ul#navlist li a:hover {
    background-image: url('/Gcs/Images/Main-Menu_Arrow_white.png');
    background-repeat: no-repeat;
    color: White;
}

ul#navlist li a:active {
    color: #143489;
    z-index: 5000;
}

ul#subnavlist {
    display: none;
    margin-top: -3px !important;
    *position: relative;
}

    ul#subnavlist li {
        float: none;
        background: none repeat scroll 0 0 #143489;
        color: #FFFFFF;
        display: block;
        text-align: left;
        z-index: 5000;
    }

        ul#subnavlist li a {
            padding: 0;
            margin: 0px;
            z-index: 5000;
            color: #fff;
            text-align: left;
        }

ul#navlist li:hover ul#subnavlist {
    display: block;
    position: absolute;
    font-size: 8pt;
    padding-top: 5px;
    z-index: 5000;
}

ul#navlist li:hover #adminSettingArrow {
    background-image: url('/Gcs/Images/Main-Menu_Arrow_white.png');
    background-repeat: no-repeat;
    color: White;
}

ul#navlist li:hover a {
    background-color: #143489;
    color: #fff !important;
}

ul#navlist li:hover ul#subnavlist li a {
    display: block;
    width: 20em;
    border: none;
    padding: 3px 10px;
    z-index: 5000;
    color: #143489;
}

#pageMenu {
    float: right;
    position: relative;
    top: 3.9em;
    *top: 4.1em;
    right: 1.3em;
}

#jsddm {
    margin: -0.5px 0 0;
    padding: 0;
    float: left;
}

    #jsddm li {
        float: left;
        list-style: none;
        font: 1.1em Arial;
        line-height: 1.5em;
        background-color: #3171bb;
    }

        #jsddm li a {
            display: block;
            padding: 4px 10px;
            text-decoration: none;
            width: auto;
            color: white;
            white-space: nowrap;
            cursor: pointer;
        }

            #jsddm li a:hover {
                background: #143489;
            }

        #jsddm li ul {
            margin: 0;
            padding: 0;
            position: absolute;
            visibility: hidden;
            z-index: 1000;
        }

            #jsddm li ul li {
                float: none;
                display: inline;
            }

                #jsddm li ul li a {
                    width: auto;
                }

                #jsddm li ul li:hover {
                    background: #143489;
                }

    #jsddm .nestedMenuHover li {
        background: #143489;
        display: block;
        color: #ffffff;
    }

        #jsddm .nestedMenuHover li a {
            background: #143489;
            display: block;
            color: #ffffff;
            padding: 3px 10px;
        }

            #jsddm .nestedMenuHover li a:hover {
                background: #b8d0e9;
                display: block;
                color: #143489;
                padding: 3px 10px;
            }

        #jsddm .nestedMenuHover li ul /*UC016*/ {
            width: auto;
            display: none;
            left: 201px;
            position: absolute;
            font: 0.9em Arial !important;
            font-weight: bold !important;
        }

            #jsddm .nestedMenuHover li ul li ul /*UC016*/ {
                width: auto;
                display: none;
                left: -210px;
                position: absolute;
                font: 0.9em Arial !important;
                font-weight: bold !important;
            }

.manageTemplatesMenu {
    width: auto;
}

#hrMenu {
    border-bottom: 3px solid #143489;
}

#dialog-countdown {
    font-weight: bold;
}

ul#jsddm li:hover a {
    background-color: #143489;
}

/**********IE7 Menu fix *********/
#subnavlist {
    *margin-right: 70px;
    *margin-top: 20px;
    *position: relative;
}

ul.nestedMenuHover li a {
    font: 0.9em Arial !important;
    font-weight: bold !important;
}

    ul.nestedMenuHover li a:hover {
        font: 0.9em Arial !important;
        font-weight: bold !important;
    }

/********* Chrome Fixes *********/

@media screen and (-webkit-min-device-pixel-ratio:0) {
    #jsddm {
        margin: 0.5px 0 0;
    }
}