<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AdminSettingsEntities" connectionString="metadata=res://*/AdminSettingsEntities.AdminSettingsEntities.csdl|res://*/AdminSettingsEntities.AdminSettingsEntities.ssdl|res://*/AdminSettingsEntities.AdminSettingsEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.253.50.207;initial catalog=GRCS_DEV;Persist Security Info=True;User ID=GRCS_DEV;Password=Umg-grcs;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="ContractDataEntities" connectionString="metadata=res://*/ContractDataEntities.ContractDataModel.csdl|res://*/ContractDataEntities.ContractDataModel.ssdl|res://*/ContractDataEntities.ContractDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.253.50.207;initial catalog=GRCS_DEV;Persist Security Info=True;User ID=GRCS_DEV;Password=GRCS_DEV;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="ContractTemplateEntities" connectionString="metadata=res://*/ContractTemplateEntities.ContractTemplateModel.csdl|res://*/ContractTemplateEntities.ContractTemplateModel.ssdl|res://*/ContractTemplateEntities.ContractTemplateModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.253.50.207;initial catalog=GRCS_DEV;Persist Security Info=True;User ID=GRCS_DEV;Password=Umg-grcs;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="MasterDataEntities" connectionString="metadata=res://*/MasterDataEntities.MasterDataModel.csdl|res://*/MasterDataEntities.MasterDataModel.ssdl|res://*/MasterDataEntities.MasterDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.253.50.207;initial catalog=GRCS_DEV;Persist Security Info=True;User ID=GRCS_DEV;Password=Umg-grcs;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="RepertoireDataEntities" connectionString="metadata=res://*/RepertoireEntities.RepertoireEntities.csdl|res://*/RepertoireEntities.RepertoireEntities.ssdl|res://*/RepertoireEntities.RepertoireEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.253.50.207;initial catalog=GRCS_DEV;Persist Security Info=True;User ID=GRCS_DEV;Password=Umg-grcs;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="WorkQueueDataEntities" connectionString="metadata=res://*/WorkQueueEntities.WorkQueueModel.csdl|res://*/WorkQueueEntities.WorkQueueModel.ssdl|res://*/WorkQueueEntities.WorkQueueModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.253.50.207;initial catalog=GRCS_DEV;Persist Security Info=True;User ID=GRCS_DEV;Password=Umg-grcs;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="RightsDataEntities" connectionString="metadata=res://*/RightDataEntities.RightsDataModel.csdl|res://*/RightDataEntities.RightsDataModel.ssdl|res://*/RightDataEntities.RightsDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.253.50.207;initial catalog=GRCS_DEV;Persist Security Info=True;User ID=GRCS_DEV;Password=Umg-grcs;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="GRCSDEVEntities" connectionString="metadata=res://*/RepertoireRightsSearch.RepertoireRightsSearchModel.csdl|res://*/RepertoireRightsSearch.RepertoireRightsSearchModel.ssdl|res://*/RepertoireRightsSearch.RepertoireRightsSearchModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.253.50.207;initial catalog=GRCS_DEV;User ID=GRCS_DEV;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="RepertoireRightsSearch" connectionString="metadata=res://*/RepertoireRightsSearch.RepertoireRightsSearchModel.csdl|res://*/RepertoireRightsSearch.RepertoireRightsSearchModel.ssdl|res://*/RepertoireRightsSearch.RepertoireRightsSearchModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.253.50.207;initial catalog=GRCS_DEV;User ID=GRCS_DEV;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="RepertoireRightsSearchEntities" connectionString="metadata=res://*/RepertoireRightsSearch.RepertoireRightsSearchModel.csdl|res://*/RepertoireRightsSearch.RepertoireRightsSearchModel.ssdl|res://*/RepertoireRightsSearch.RepertoireRightsSearchModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.253.50.207;initial catalog=GRCS_DEV;User ID=GRCS_DEV;Password=Umg-grcs;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="RightsReviewWorkQueueEntities" connectionString="metadata=res://*/RightsReviewWorkQueue.RightsReviewWorkQueueModel.csdl|res://*/RightsReviewWorkQueue.RightsReviewWorkQueueModel.ssdl|res://*/RightsReviewWorkQueue.RightsReviewWorkQueueModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.253.50.207;initial catalog=GRCS_DEV;User ID=GRCS_DEV;Password=Umg-grcs;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="ReportDataEntities" connectionString="metadata=res://*/ReportEntities.ReportEntities.csdl|res://*/ReportEntities.ReportEntities.ssdl|res://*/ReportEntities.ReportEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.253.50.207;initial catalog=GRCS_DEV;user id=sa;password=Umg-grcs;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="EmailEntities" connectionString="metadata=res://*/EmailEntities.EmailModel.csdl|res://*/EmailEntities.EmailModel.ssdl|res://*/EmailEntities.EmailModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.253.50.207;initial catalog=GRCS_DEV;persist security info=True;user id=GRCS_DEV;Password=Umg-grcs;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ClearanceProjectDataEntities" connectionString="metadata=res://*/ClearanceProjectDataEntities.ClearanceProjectDataModel.csdl|res://*/ClearanceProjectDataEntities.ClearanceProjectDataModel.ssdl|res://*/ClearanceProjectDataEntities.ClearanceProjectDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.253.50.207;Initial Catalog=GRCS_DEV;User ID=GRCS_DEV;Password=Umg-grcs;multipleactiveresultsets=True;App=GCS.SchedulerHost&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
