@{
    ViewBag.Title = "Support Information";
}

   <div class="supportPopUp">
       <div class="alignLeft">
           <p class="globalContact">Please contact application support on:</p>
       
           <ul class="supportStyle">
                <li>Email: <a href="mailto:appsupport@umusic.com?subject=Support Request" class="hyperlink">appsupport@umusic.com</a></li>
                <li class="contactInfo">Telephone: <a class="contactNumber">+1-818-286-4643</a></li>
                <li class="contactInfo">Listed in the Global Address List as: Application Support</li>
           </ul>
        </div>
   </div>
