body {
	font-size: 11px !important;
	font-family: Arial, Verdana, Sans-Serif !important;
	padding: 0;
}

.dark-green-background {
	background: #485472;
	color: #fff;
}

.text-color-white {
	color: #fff !important;
}

.green-header-background {
	background: #ccff99;
}

.grey-header-background {
	background: #e8e8e8;
}

.light-grey-background {
	background: #FAFAFA;
}

.drk-grey-background {
	background: #999999;
}

.line-height19PX {
	line-height: 19px;
}

.text-align-right {
	text-align: right;
}

.text-align-left {
	text-align: left;
}

.text-align-center {
	text-align: center;
}

.no-decoration {
	text-decoration: none !important;
}

.no-bold {
	font-weight: normal !important;
}

.no-border {
	border: 0px !important;
}

.floatL {
	float: left;
}

.floatR {
	float: right;
}

.smallWidth-20 {
	width: 20px;
	border: 0px solid red;
}

.smallWidth-S {
	width: 50px;
}

.smallWidth-M {
	width: 80px;
}

.smallWidth-L {
	width: 130px;
}

.mediumWidth-S {
	width: 160px;
}

.width-31per {
	width: 31%;
}

.width-32per {
	width: 32%;
}

.width-51per {
	width: 51%;
}

.width-54per {
	width: 54px;
}

.width-129px {
	width: 129px;
}

.margin-left-tenpix {
	margin-left: 10px;
}

.margin-left-50pix {
	margin-left: 50px;
}

.margin-left-fivepix {
	margin-left: 5px;
}

.margin-right-tenpix {
	margin-right: 10px;
}

.margin-top-threepix {
	margin-top: 3px;
}

.margin-top-8pix {
	margin-top: 8px;
}

.margin-top-50pix {
	margin-top: 50px;
}

.remove-underline {
	text-decoration: none !important;
}

#inboxLeftPanel {
	background: #fafafa;
	width: 145px;
	border: 1px solid #dcdcdc;
	border-top: 0px;
	float: left;
	margin: 0;
	padding: 0;
}

#inboxHeaderDv {
	background: #f0f0f0;
	height: 25px;
	font-size: 12px;
	line-height: 24px;
	color: #000;
	font-weight: 600;
}

.inboxCnt {
	border-top: 1px solid #dcdcdc;
	margin: 0;
}

.inboxArrow {
	display: block;
	float: left;
	text-decoration: none;
	background: url(/GCS/Images/ClearanceInbox/inboxArrowDown.png) no-repeat;
	margin-top: 8px;
	margin-left: 10px;
	height: 16px;
	width: 16px;
	border: 0px;
}

.inboxSpanClass {
	font-size: 12px;
	font-weight: 600;
}

.inboxTdClass {
	padding: 0 6px;
	line-height: 15px;
}

.inboxTdClasslabel {
	font-size: 11px;
	white-space: nowrap;
}

#inboxHeaderScreen {
	height: 29px;
	width: 100%;
	margin: 0 1px 0 0;
	padding: 0;
}

.ulClass span {
	display: block;
	padding: 4px 0 5px 10px;
	font-size: 12px;
	color: #000;
	font-weight: 700;
	float: left;
}

	.ulClass span a {
		color: #fff;
		font-weight: bold;
	}

#inboxRightWrapperPanel {
	width: 100%;
	float: left;
	height: auto;
	overflow: hidden;
}

.bar {
	padding: 0 10px;
	font-weight: bold;
	font-size: 12px;
	margin: 2px;
}

#inboxSaveWrapper {
	background: url(/GCS/Images/save.gif);
	width: 16px;
	height: 16px;
	position: relative;
	float: left;
	margin-top: 1px;
	margin-left: 10px;
	cursor: pointer;
	z-index: 999;
}

.inboxNotificationDropDown {
	display: none;
	width: 385px;
	height: 150px;
	background: #fff;
	color: #000;
	position: absolute;
	overflow-y: scroll;
	border-color: Black;
	border-width: thick;
	border-style: solid;
}

.ulClass {
	margin: 0;
	padding: 0;
	width: 70%;
	list-style: none;
	overflow: hidden;
}

.inbox-input {
	width: 95px !important;
	border: 1px solid #A2A6C1;
	background-color: #fff;
	color: #000;
	font-size: 11px;
}

/*
 * Splitter container. Set this to the desired width and height
 * of the combined left and right panes. In this example, the
 * height is fixed and the width is the full width of the body,
 * less the margin on the splitter itself.
 */
.MySplitter {
	width: 100%;
	overflow: visible !important;
}
/*
 * Left-side element of the splitter. Use pixel units for the
 * min-width and max-width; the splitter plugin parses them to
 * determine the splitter movement limits. Set the width to
 * the desired initial width of the element; the plugin changes
 * the width of this element dynamically.
 */

/*
 * Right-side element of the splitter.
 */
#RightPane {
	overflow: auto;
	/* No margin or border allowed */
}
/* 
 * Splitter bar style; the .active class is added when the
 * mouse is over the splitter or the splitter is focused
 * via the keyboard taborder or an accessKey. 
 */
.inbox-select {
	width: 95px !important;
	border: 1px solid #A2A6C1;
	background-color: #fff;
	text-align: center;
	color: #000;
}

.ulClass li {
	display: inline-block;
	float: left;
	padding: 1px;
}

	.ulClass li input[type="text"], select {
		margin: 2px;
	}


#middelPanel {
	float: left;
	width: 3px;
	margin: 0;
	padding: 0;
	background-color: #ebffb4;
	overflow: hidden;
	height: 476px;
	z-index: -999;
	border: 1px solid #dcdcdc;
}

#movingPanel1, #movingPanel2 {
	float: left;
	width: 27px;
	height: 22px;
	border: 0;
	margin-top: 12px;
}

input[type='checkbox'] {
	border: 0px solid red;
	z-index: 999;
}

#flter {
	float: left;
	width: 49%;
}

#save {
	float: right;
	width: 41%;
	color: #333;
	font-size: 9px;
	font-weight: normal;
	text-align: right;
	margin-right: 10px;
}

	#save a {
		color: #333;
	}

#movingPanel1 {
	display: none;
}

#loadingDv {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	color: #fff;
	bottom: 0px;
	background: #000 url("/GCS/Scripts/jtable/themes/standard/green/loading.gif") no-repeat 50% 49%;
	opacity: 0.6;
	filter: alpha(opacity=60);
	z-index: 5000;
	display: none;
}

	#loadingDv #loader {
		margin: 230px 45%;
		background-image: url("/GCS/Images/GRS_loading_icon.gif");
	}

/* filter html */
.filter-leftnav-wrapper {
	margin: 0 auto;
	padding: 0;
	color: #000;
}

.inboxSpanClass {
	margin: 0 auto;
	padding: 0;
	width: 75%;
	font-size: 11px;
}

.checkBox {
	width: 26%;
}

.checkBoxLabel {
	width: 73%;
	line-height: 17px;
	position: relative;
}

.checkBoxWrapper {
	width: 100%;
	float: left;
	margin: 25px 0 12px 0;
	position: relative;
}

.section-one, .section-two, .section-three, .section-four {
	height: auto;
	position: relative;
	overflow: hidden;
	padding: 5px 0;
}

table.inboxTable {
	padding: 0;
	border-collapse: collapse;
	color: #33333;
	font-size: 11px;
	width: 100%;
	color: #33333 !important;
}

table.noborder {
	padding: 0;
	border-collapse: collapse;
	color: #33333;
	font-size: 11px;
	width: 100%;
}

.noborder td {
	min-height: 22px;
	max-height: auto;
	margin: 0;
	padding: 0;
	border: 0px !important;
	vertical-align: top;
}

.inboxTable td {
	min-height: 22px;
	border: 1px solid #cccccc;
	max-height: auto;
	margin: 0;
	padding: 0;
	vertical-align: top;
	color: #33333 !important;
}

.parentNode {
	height: 22px;
	line-height: 18px;
	font-size: 11px;
	font-weight: bold;
	width: auto;
	background: url("/GCS/Images/ClearanceInbox/folder.gif") no-repeat 2px 0;
	padding-left: 22px;
}

.expan_collapse {
	height: 22px;
	line-height: 18px;
	font-size: 11px;
	font-weight: normal;
	width: 58%;
}

	.expan_collapse a {
		color: #333;
	}

.nodeWrapper {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	clear: both;
}

.childNode {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
}

.childNodeOddRow {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 30px;
	border-top: 1px solid #cccccc;
	background: url("/GCS/Images/ClearanceInbox/unread.png") no-repeat 30px 0;
	overflow: hidden;
	max-height: auto !important;
}

.odd {
	background: #fafafa;
}

.even {
	background: #ffffff;
}

.selected {
	border: 1px solid #485472 !important;
	background: #eaeaea !important;
}

.childNodeOddRow1 {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 30px;
	border-top: 1px solid #cccccc;
	overflow: hidden;
	font-weight: bolder;
	max-height: auto !important;
}

.childNodeEvenRow {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 30px;
	border-top: 1px solid #cccccc;
	background: url("/GCS/Images/ClearanceInbox/unread.png") no-repeat 30px 0;
	max-height: auto !important;
	overflow: hidden;
}

.rollBackBackground {
	background: url("/GCS/Images/ClearanceInbox/refresh.png") no-repeat 5px 0;
	width: 16px;
	height: 22px;
	position: absolute;
	left: 5px;
	top: 2px;
}

.childNodeOddTd {
	min-height: 22px;
	line-height: 18px;
	overflow: hidden;
	max-height: auto;
}

.tdLeftMargin {
	margin-left: 52px;
}

.tdLeftMargin10PX {
	margin-left: 10px;
}

.tdLeftPadding10PX {
	padding-left: 10px !important;
}

.tdLeftPadding21PX {
	padding-left: 21px !important;
}

.tdLeftPadding4PX {
	padding-left: 4px !important;
}

.tdwidth1 {
	width: 23%;
}

.tdwidth2 {
	width: 75%;
}

.tdwidth100PX {
	width: 100px;
}

.colm {
	margin-left: 49px;
	margin-top: 2px;
}

.masterCol {
	width: 6%;
}

.procectPrefNumCol {
	width: 9%;
}

.projectTitleCol {
	width: 6%;
	padding-left: 6px !important;
}

.assignToCol {
	width: 8%;
	padding-left: 20px !important;
}

.requesterNameCol {
	width: 8%;
	padding-left: 6px !important;
}

.releaseDateCol {
	width: 8%;
	padding-left: 20px !important;
}

.estimatedSalesCol {
	width: 9%;
	padding-left: 8px !important;
}

.rolCol {
	width: 7%;
	padding-left: 20px !important;
}

.rolHead {
	width: 105px;
}

.workgroupCol {
	width: 7%;
}

.notificationDate {
	width: 7%;
}

#upc_text {
	width: 300px;
	height: auto;
	font-weight: normal;
	white-space: normal;
}

#rcc_hqandler {
	min-width: 99px;
	max-width: auto;
	height: auto;
	font-weight: normal;
	white-space: normal;
}

.inboxRightHeaderUpcNum {
	border: 0px solid red;
	padding: 0;
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
	height: auto;
}

.clear1 {
	clear: both;
	margin: 2px;
}

.alertMessage {
	border-top: 1px solid #dcdcdc;
	height: 22px;
	line-height: 22px;
	padding-left: 10px;
}

	.alertMessage:hover {
		background-color: #0F3;
	}

.createFolder {
	width: 85px;
	height: 16px;
}

.scroll-pane-before,
.scroll-pane-after,
.scroll-pane-split,
.scroll-pane-os {
	width: 100%;
	height: 120px;
	overflow: auto;
	padding: 10px 5px;
}

.horizontal-only {
	height: auto;
	max-height: 200px;
}

/*********************** DROP DOWN *******************/
div.selectBox {
	position: relative;
	display: inline-block;
	*display: inline;
	zoom: 1;
	cursor: default;
	text-align: left;
	line-height: 25px;
	color: #fff;
	top: 8px;
	*padding-right: 5px;
}

span.selected {
	width: 61px;
	text-indent: 6px;
	border-right: none;
	background: #999999;
	overflow: hidden;
}

span.selectArrow {
	width: 30px;
	text-align: center;
	font-size: 11px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	background: #999999;
}

span.selectArrow, span.selected {
	position: relative;
	float: left;
	height: 25px;
	z-index: 999;
}

div.selectOptions {
	position: absolute;
	top: 24px;
	left: 0;
	width: 198px;
	border: 1px solid #ccc;
	overflow: hidden;
	background: #999;
	padding-top: 2px;
	display: none;
}

span.selectOption {
	display: block;
	width: 80%;
	line-height: 20px;
	padding: 5px 10%;
}

	span.selectOption:hover {
		color: #f6f6f6;
		background: #4096ee;
	}
/****************************		END 		*******************************************************/

.pop-wrapper-div {
	margin: 0 auto;
	padding: 0;
	width: auto;
	height: auto;
	*height: 210px;
	border-top: 0;
	overflow: hidden;
}

.poup-ul {
	margin: 0px;
	padding: 0 0 0 12%;
	list-style: none;
}

	.poup-ul li {
		list-style: none;
		overflow: hidden;
		padding: 1% 0;
	}

.popup-checkbox-dv1 {
	float: left;
	width: 40%;
}

.popup-checkbox-dv2 {
	float: left;
	width: 50%;
}

.popup-checkbox-dv3 {
	float: right;
	width: 60%;
	text-align: right;
}

.mainContainer ul li {
	padding: 0px 1px 0px 1px !important;
	min-height: auto !important;
}

.ulClass input[type="button"] {
	margin-top: 4px !important;
}

.ulClass input[type="text"] {
	margin-top: 4px !important;
}

.ulClass select {
	margin-top: 4px !important;
}

.jquerycssmenuTab ul li a span {
	padding: 0px 5px 2px 5px !important;
}

.jquerycssmenuTab ul {
	padding-top: 4px !important;
}

.jquerycssmenuTab {
	height: 21px !important;
	height: 21.5px\0 !important;
	*height: 22px !important;
	background: #cfcfcf !important;
}

.jquerycssmenuTab1 {
	height: 23px !important;
}

#main {
	margin-top: -0.6px;
}

.request-header {
	margin-top: -5px !important;
}

.request-header1 {
	float: left !important;
}

.rightButtons {
	display: none;
}

#contentBottom {
	margin: 2px 15px 5px 15px !important;
}

.ui-layout-toggler, .ui-layout-resizer-open-hover, .ui-layout-resizer-dragging {
	background: #485472 url(/GCS/Images/ClearanceInbox/vgrabber.gif) no-repeat center;
	cursor: w-resize !important;
	opacity: 0.7;
}

.tooltip {
	color: #333 !important;
	font-weight: normal !important;
}

	.tooltip:hover {
		background: none !important;
	}

.input-select2 {
	width: 110px !important;
}

.saveImg {
	margin-top: 2px !important;
}

.ui-widget {
	font-size: 11px !important;
	font-family: Arial, Verdana, Sans-Serif !important;
}

#main .ui-tabs {
	padding: 0px !important;
}

#screenTabs {
	height: 41px !important;
	margin-top: -3px !important;
	margin-left: 0 !important;
	border: 0;
}

	#screenTabs li.ui-state-default, #screenTabs li.ui-widget-content #screenTabs li.ui-state-default, #screenTabs li.ui-widget-header #screenTabs li.ui-state-default {
		padding: 0 0 0px 4px !important;
		border: 0px !important;
	}

		#screenTabs li.ui-state-default a, #screenTabs li.ui-widget-content a #screenTabs li.ui-state-default a, #screenTabs li.ui-widget-header a #screenTabs li.ui-state-default a {
			font-weight: bold !important;
		}

.ui-tabs .ui-tabs-nav .tabGap {
	margin-left: 3px;
}

.mrgn-tp-3px {
	margin-top: 2px !important;
}

.wp-right {
	background-color: #485472;
	overflow: hidden;
}

#wrapperexample2 {
	margin-top: -1px;
}

#wrapper {
	background-color: #fff;
}

/* REGION CUSTOM CSS */

.filter {
	color: #fff !important;
	font-size: 10px !important;
}

#inboxSearch #filters {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 2px;
}

.filters-active {
	background: url("/GCS/Images/ClearanceInbox/filtersActive.png") no-repeat;
	width: 16px;
	height: 16px;
}

.filters-inactive {
	background: url("/GCS/Images/ClearanceInbox/filtersInactive.png") no-repeat;
	width: 16px;
	height: 16px;
}

.cursorPointer {
	cursor: pointer;
}

.displayAsHyperlink {
	text-decoration: underline;
	cursor: pointer;
}

.RowCell .displayAsHyperlink {
	font-weight: normal;
}

.always-hidden {
	display: none;
}

.folderAction {
	margin: 3px 0px 0px 10px !important;
}

	.folderAction a {
		color: Black;
	}

.seperator {
	margin: 0px 5px;
}

#divMessage {
	margin: 0px !important;
	padding-left: 45px !important;
}

.unsubmittedRequest {
}

.isAllRequestReviewed {
	background: url("/GCS/Images/ClearanceInbox/allRequestReviewed.png") no-repeat;
	width: 16px;
	height: 16px;
}

.isThirdParty {
	background: url("/GCS/Images/ClearanceInbox/thirdpartyText.png") no-repeat;
	width: 16px;
	height: 16px;
}

.isUnread {
	background: url("/GCS/Images/ClearanceInbox/unread.png") no-repeat;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.displayBold {
	font-weight: bold;
}

.displayBlock {
	display: block;
}

.displayNone {
	display: none;
}

.manageFolder-Message {
	margin: 0px -10px 8px -10px;
	min-height: 18px;
}

.manageFolder-Content {
	margin: 10px 10px;
}

.padLeft {
	padding-left: 2px;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.ui-multiselect-menu .ui-multiselect-checkboxes input[type=checkbox] {
	z-index: auto !important;
}

.draggable {
	border: 1px solid #000;
	font-size: 11px;
	padding: 2px 5px;
	overflow: hidden;
	background: #fff;
	width: 260px;
	height: auto;
	font-style: italic;
	line-height: 2em;
}

.ptitle {
	width: 100px;
}

.ptitlev {
	width: 160px;
}


button.ui-multiselect.ui-widget {
	border: 1px solid #d3d3d3 !important;
	height: 26px;
}

	button.ui-multiselect.ui-widget.ui-state-default.ui-corner-all.ui-state-hover,
	button.ui-multiselect.ui-widget.ui-state-default.ui-corner-all.ui-state-active.ui-state-hover {
		font-weight: bold !important;
	}

.ui-multiselect-menu .ui-widget-header.ui-multiselect-header {
	display: none;
}

.ui-multiselect .ui-icon.ui-icon-triangle-1-s {
	display: none;
}

.ui-multiselect-checkboxes li {
	border-top: 0px;
	min-width: 250px !important;
}

.ui-multiselect-menu .ui-multiselect-checkboxes.ui-helper-reset {
	margin-right: 6px;
}

.ui-multiselect-menu {
	padding: 0px;
}

	.ui-multiselect-menu .ui-multiselect-checkboxes label {
		padding: 0px;
		margin: 0px;
	}

	.ui-multiselect-menu .ui-state-hover,
	.ui-multiselect-menu .ui-widget-content .ui-state-hover,
	.ui-multiselect-menu .ui-widget-header .ui-state-hover,
	.ui-multiselect-menu .ui-state-focus,
	.ui-multiselect-menu .ui-widget-content .ui-state-focus,
	.ui-multiselect-menu .ui-widget-header .ui-state-focus {
		font-weight: normal;
		color: #000000 !important;
	}

/* END REGION CUSTOM CSS */

/*code for synchfusion related changes*/

.SelectionBackground {
	background: #fff !important;
}

.HeaderCellDiv:hover, HeaderCell:hover, table.Table th:hover {
	background-color: #485472 !important;
	color: #33333 !important;
}

.Syncfusion-Grid-Office2007Blue .GridHeader, .Syncfusion-Grid-Office2007Blue .GridHeader:hover,
.Syncfusion-Grid-Office2007Blue .CaptionRow, .HeaderCellHover, .Syncfusion-Grid-Office2007Blue .HeaderCell {
	background: #485472 !important;
	color: #33333 !important;
}

.Syncfusion-Grid-Core .HeaderCellDiv {
	border: 0px solid #cccccc !important;
	color: #fff !important;
}

	.Syncfusion-Grid-Core .HeaderCellDiv:hover {
		border: 0px solid #cccccc !important;
		color: #fff !important;
	}

.ui-widget-content {
	border: 0px solid #CCC !important;
}

.Syncfusion-Grid-Olive {
	border-color: #CCC !important;
	background-color: #FAFAFA !important;
}

	.Syncfusion-Grid-Olive .SelectionBackground {
		border-color: #CCC !important;
		background-color: #FFF !important;
	}

.Alt_Row {
	background-color: #EAEAEA !important;
}

#MimicUserGrid_Table tr {
	background-color: #FAFAFA !important;
}

#MimicUserGrid_Table .Alt_Row {
	background-color: #EAEAEA !important;
}

#MimicUserGrid_Table tr .RowCell .SelectionBackground {
	background-color: #FFF !important;
}

.Syncfusion-Grid-Core {
	border-collapse: collapse;
	font-size: 11px !important;
	font-family: Arial, Verdana, Sans-Serif !important;
}

	.Syncfusion-Grid-Core .Table {
		border-collapse: collapse !important;
	}

.Syncfusion-Grid-Olive .RowCell {
	border: 1px solid #CCC !important;
}

.GridPager {
	background-color: #fff !important;
	border: 1px solid #CCC !important;
}

.Hdr-widthSettings {
	padding-right: 0px !important;
}

.Syncfusion-Grid-Olive .GridHeader {
	background-color: #485472 !important;
}

.NextPage,
.LastPage,
.FirstPage,
.PrevPage,
.Syncfusion-Grid-Olive .GridPager .RefreshPager {
	background-color: #E7FEE7 !important;
	border-color: #9C9 !important;
	color: Black !important;
}

	.NextPage:Hover,
	.LastPage:Hover,
	.FirstPage:Hover,
	.PrevPage:Hover,
	.Syncfusion-Grid-Olive .GridPager .RefreshPager:Hover {
		background-color: #E7FEE7 !important;
		border-color: #9C9 !important;
		color: Black !important;
	}

.Syncfusion-Grid-Olive .CurrentItem, .Syncfusion-Grid-Olive .CurrentItem:hover {
	background-color: #E7FEE7 !important;
	border-color: #9C9 !important;
	color: black!important;
}

.Syncfusion-Grid-Olive .NumericItem-hover {
	background-color: #E7FEE7 !important;
	border-color: #9C9 !important;
	color: black!important;
}

.NumericItem {
	color: #333 !important;
	background-color: #cfe7d6 !important;
	border-radius: 0 !important;
	border: 1px solid #99cc99 !important;
}

	.NumericItem:hover {
		background-color: #E7FEE7 !important;
	}

#NumericContainer a {
	color: #333 !important;
}

.NumericItem .Spacing {
	margin-left: 8px !important;
}

.Syncfusion-Grid-Core .NumericItem:Hover, .Syncfusion-Grid-Core .Spacing, .Syncfusion-Grid-Core .CurrentItem {
	border-radius: 0 !important;
}

.Syncfusion-Grid-Olive .RowCell, .Syncfusion-Grid-Olive .EmptyCell, .Syncfusion-Grid-Olive tr[class*=ChildRow] > .ChildGrid {
	border-color: #CCC !important;
}

.CurrentItem {
	background-color: #E7FEE7 !important;
}

.Syncfusion-Grid-Core .FirstPage, .Syncfusion-Grid-Core .PrevPage, .Syncfusion-Grid-Core .FirstPageDisabled, .Syncfusion-Grid-Core .PrevPageDisabled, .Syncfusion-Grid-Core .NextPage, .Syncfusion-Grid-Core .LastPage, .Syncfusion-Grid-Core .NextPageDisabled, .Syncfusion-Grid-Core .LastPageDisabled {
	background-color: #cfe7d6 !important;
	margin-left: 2px !important;
	border-radius: 0 !important;
}

	.Syncfusion-Grid-Core .FirstPage:hover, .Syncfusion-Grid-Core .PrevPage:hover, .Syncfusion-Grid-Core .NextPage:hover, .Syncfusion-Grid-Core .LastPage:hover {
		background-color: #E7FEE7 !important;
		margin-left: 2px !important;
		border-radius: 0 !important;
	}

/*code for synchfusion related changes*/

/*#region divLeftPanel*/

#divLeftPanel {
	overflow: hidden;
	margin-top: 25px !important;
}

	#divLeftPanel .IndentCell {
		background-color: transparent;
	}

	#divLeftPanel .Syncfusion-Grid-Core {
		border-color: Gray;
		display: inline-block;
	}

		#divLeftPanel .Syncfusion-Grid-Core .HeaderCell,
		#divLeftPanel .Syncfusion-Grid-Core .HeaderCellHover,
		#divLeftPanel .Syncfusion-Grid-Core .RowCell,
		#divLeftPanel .Syncfusion-Grid-Core .RowCellHover,
		#divLeftPanel .Syncfusion-Grid-Core .EmptyCell,
		#divLeftPanel .Syncfusion-Grid-Core .EmptyCellHover #divLeftPanel .Syncfusion-Grid-Core .SelectedHeaderCell {
			height: 24px !important;
			padding: 0em 1em 0em 1em !important;
		}

		#divLeftPanel .Syncfusion-Grid-Core .GroupCaption {
			padding: 0px !important;
		}

		#divLeftPanel .Syncfusion-Grid-Core .Collapse {
			border-top: 1px solid Gray;
			border-bottom: 1px solid #f6f6f6 !important;
			background-color: #f6f6f6 !important;
		}

		#divLeftPanel .Syncfusion-Grid-Core .Expand {
			border-top: 1px solid Gray;
			border-bottom: 1px solid Gray;
			background-color: #f6f6f6 !important;
		}

		#divLeftPanel .Syncfusion-Grid-Core .SelectedHeaderCell {
			color: #333333 !important;
			background: none;
			background-color: #485472 !important;
		}

		#divLeftPanel .Syncfusion-Grid-Core table.Table {
			border-collapse: separate !important;
		}

		#divLeftPanel .Syncfusion-Grid-Core tbody td {
			border-width: 1px 0px 1px 0px !important;
			border-style: solid !important;
			border-color: transparent;
			background-color: transparent;
		}

			#divLeftPanel .Syncfusion-Grid-Core tbody td.SelectionBackground {
				border-width: 1px 0px 1px 0px !important;
				border-style: solid !important;
				border-color: #485472 !important;
				background-color: #dadada !important;
			}

		#divLeftPanel .Syncfusion-Grid-Core .GridContent a {
			color: Black;
		}

		#divLeftPanel .Syncfusion-Grid-Core .GridContent tr.displayBold a.displayAsHyperlink {
			font-weight: bold;
		}

	#divLeftPanel .inboxHeader {
		border: 1px solid #fff;
	}

		#divLeftPanel .inboxHeader .Syncfusion-Grid-Core .GridHeader {
			margin-top: -25px;
			position: fixed!important;
		}

		#divLeftPanel .inboxHeader .Syncfusion-Grid-Core .GridContent {
			display: block;
		}

		#divLeftPanel .inboxHeader .Syncfusion-Grid-Core .GridHeader thead th {
			border-style: solid !important;
			border-color: #fff !important;
			border-width: 0px 1px 0px 0px;
		}

			#divLeftPanel .inboxHeader .Syncfusion-Grid-Core .GridHeader thead th.noHeaderText {
				border-width: 0px 0px 0px 0px;
			}

			#divLeftPanel .inboxHeader .Syncfusion-Grid-Core .GridHeader thead th.lastColumn {
				border-right: 0px;
			}

			#divLeftPanel .inboxHeader .Syncfusion-Grid-Core .GridHeader thead th .HeaderCellDiv {
				font-weight: bold !important;
			}

		#divLeftPanel .inboxHeader .Syncfusion-Grid-Core,
		#divLeftPanel .inboxHeader .Syncfusion-Grid-Core .GridHeader,
		#divLeftPanel .inboxHeader .Syncfusion-Grid-Core .Hdr-widthSettings {
			overflow: visible;
			border-width: 0px 1px 1px 1px;
		}

	#divLeftPanel .Syncfusion-Grid-Core .RowCell,
	#divLeftPanel .Syncfusion-Grid-Core .RowCell div,
	#divLeftPanel .Syncfusion-Grid-Core .RowCell a {
		overflow: hidden !important;
		text-overflow: ellipsis !important;
		line-height: normal;
	}

/*#endregion divLeftPanel*/

/*#region RightPane*/

#RightPane .Syncfusion-Grid-Core .RowCell {
	vertical-align: top !important;
}

.rightPanelHeader {
	clear: both;
	min-height: 22px;
	padding: 0;
	margin: 0;
}

a {
	color: #333;
	text-decoration: underline;
	font-size: 11px;
	font-weight: bold;
}

.rightPanelHeader .headerlist {
	margin: 0;
	padding: 0;
}

	.rightPanelHeader .headerlist li {
		display: inline-block;
		color: #333;
		float: left;
		margin-left: 10px;
		font-size: 11px;
		font-weight: bold;
		white-space: nowrap;
	}

/*#endregion divLeftPanel*/


.inboxHeader {
	position: absolute;
	width: 100%;
	overflow: auto;
}

.inboxContent {
	background-color: #FAFAFA !important;
	position: absolute;
	width: 100%;
	overflow: auto;
}

.droppable {
	border: 1px solid #fcefa1 !important;
}

.folder-Container {
	border: 1px solid transparent;
}

/* WIP */


/*END CUSTOM CSS FOR LEFT PANEL DO NOT OVERRIDE*/

div.bdr {
	padding: 5px 15px;
	margin: 0px 0;
	border-bottom: 1px solid #ccc;
}

#divProjectActions a {
	text-decoration: none;
}

.project_actions {
	height: 86px !important;
	width: 180px !important;
}

.massReminderFooterButton {
	margin-left: 13px;
	vertical-align: top;
	height: 47px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	border: 1px solid #aaaaaa;
	background: #485472 50% 50% repeat-x;
	font-weight: bold;
	color: #212121;
}

.ui-tabs .ui-tabs-nav li {
	margin: 1px 0;
	color: #000;
}

.ui-tabs .ui-tabs-nav .tabGap, .ui-tabs .ui-tabs-nav .FirsttabGap {
	margin-top: 1px;
}


/*  FOR SORTING ICONS( ASC, DESC) IN THE GRIDS By Raja */

.Syncfusion-Grid-Core .Ascending {
	background-image: url(/GCS/Images/arrow-up.png);
	background-position: 5px;
}

.Syncfusion-Grid-Core .Descending {
	background-image: url(/GCS/Images/arrow-down.png);
	background-position: 5px;
}

.FirsttabGap {
	cursor: pointer;
	margin-left: 0px !important;
}

.reviewerTab, .requestorTab, .rccAdminTab {
	margin-left: 0 !important;
	border: 0;
}

.reviewerFilter {
	width: 455px !important;
	margin-bottom: 60px;
}
