.editor-label {
    width: 150px;
}

.ui-dialog .ui-dialog-content {
    padding: 0;
    overflow: hidden;
}

table.jtable td {
    text-align: center;
}

table td {
    border: 1px solid #a4b7c9;
}

.clearanceContractPopup {
    background-color: #f0f0f0;
    position: relative;
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #3171bb;
}

#contractgrid {
    margin-left: 15px;
    position: relative;
    overflow-y: auto;
    width: 97.3%;
}

input[type="text"], input[type="password"] {
    width: 74%;
}

.marginRightAlign {
    margin-right: 15px;
    margin-top: 4px;
}

#searchPopup {
    width: 100%;
    position: relative;
}

    #searchPopup .accbg .leftLabelDiv, #searchPopup .accbg .rightLabelDiv {
        width: 35%;
    }

    #searchPopup .accbg .leftFieldDiv, #searchPopup .accbg .rightFieldDiv {
        width: 61.5%;
    }

div.jtable-main-container {
    overflow: auto;
}

#SearchContractPaging {
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.SearchContractResults {
    padding-left: 15px;
    color: #143489;
    padding-top: 10px;
}

#searchwarning {
    width: 100%;
    background-color: #fdf5b5;
    border-bottom: 2px solid #fbe758;
    font-weight: bold;
    font-size: 1em;
    display: none;
    height: 35px;
}

.warningContainers {
    margin-left: 15px;
}

.alertImages {
    vertical-align: sub;
    padding-right: 10px;
    float: left;
    padding-top: 8px;
    padding-bottom: 8px;
}

#SearchMsgAlert {
    padding: 10px 0;
    float: left;
}

.splitCntrctSearchPopupButtons {
    display: none;
    position: relative;
    bottom: 7px;
    right: 15px;
    float: right;
    /*display: inline-block;
    display: inline; Button is hidden by default*/
    zoom: 1;
}

.AutolinkRepertoirePopupButtons {
    position: relative;
    bottom: 7px;
    right: 15px;
    float: right;
    display: inline;
    zoom: 1;
}

#searchPopup .leftMainDiv {
    width: 62%;
}

#searchPopup .rightMainDiv {
    width: 38%;
}

#Artist_Info_Name {
    width: 92%;
}

.alignLeftWidth {
    width: 77%;
    float: left;
}

.alignLeftSpan {
    width: 23% !important;
    float: left;
}

.paddingspace {
    padding-top: 6px;
    padding-bottom: 6px;
}

.cntrctSearchPopupButtons {
    position: relative;
    bottom: 7px;
    right: 15px;
    float: right;
    display: inline-block;
    *display: inline;
    zoom: 1;
}