.sbox-wrap {
    padding: 0;
    overflow: hidden;
}

.sbox_wrapper-margin {
    margin: 0 18px 10px 18px !important;
}

.sbox-height1 {
    height: 40px;
}

.sbox-height {
    height: 20px;
}

.sbox-height-release {
    height: 28px;
    margin: 0 !important;
}

.rel-result_section-height {
    height: auto;
}

.sbox-colum1 {
    width: 45px;
}

.sbox-colum2 {
    width: 156px;
}

.sbox-colum_2 {
    width: 200px;
}

.sbox-colum3 {
    width: 30px;
}

.floatL {
    float: left;
}

.floatR {
    float: right;
}

.bdr {
    border: 1px solid red;
}

.gry-bdr {
    border: 1px solid #dadada;
}

.drk-gry-bdr {
    border: 1px solid #cfcfcf !important;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.sbox-input-very-small {
    width: 41.5px !important;
}

.sbox-input-suggest-fee {
    width: 90px !important;
}

.sbox_ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 11px !important;
}

    .sbox_ul li {
        float: left;
        display: inline;
        padding: 0 6px 0 0;
        font-weight: bold;
    }

        .sbox_ul li a, .anchorCls {
            display: block;
            color: #333 !important;
            text-decoration: underline !important;
            font-size: 11px !important;
        }

.sbox_txt-width-xsmall {
    width: 160px !important;
    height: 46px !important;
}

.line-height {
    line-height: 28px;
}

.line-height2 {
    line-height: 20px;
}

.sbox_grey-background {
    background-color: #fafafa;
}

.search_by-column1 {
    width: 75px;
}

.search_by-column2 {
    width: 131px;
}

.search_by-column3 {
    width: 92px;
}

.search_by-column4 {
    width: 58px;
    padding-left: 5px;
}

.ie7 .search_by-column4 {
    width: 58px;
    padding-left: 5px;
    padding-top: 1px;
}

.ie8 .search_by-column4 {
    width: 65px;
}

.ie9 .search_by-column4 {
    width: 64px;
}

.sbox-input1 {
    width: 118px !important;
}

.sbox-input2 {
    width: 82px !important;
}

.search_by-title-name {
    width: 150px !important;
}

.search_by-title-name-text {
    width: 140px !important;
}

.padding-left3px {
    padding-left: 3px !important;
}

.sbox-margin-top1 {
    margin-top: 10px;
}

.mainPanelDvPADSub {
    border: 1px solid #a6a6a6;
    background-color: #fafafa;
    margin: 0 0 15px 5px;
    overflow-x: hidden;
    min-height: 28px;
}

.master-resource-mainDiv {
    margin: 10px 1.5px;
}

.tblChild {
    width: 99%;
    margin: 0 10px 0 6px;
    border: 0;
    border-collapse: collapse;
}

.master-resource-tabl-head {
    background-color: silver;
    height: 21px;
    font-weight: bold;
}

#txtISRC {
    width: 131px !important;
}

.sbox-pdding-right {
    padding-right: 6px;
}

#headerResorucetable span, #headerResorucetable a {
    color: #fff !important;
}

.headFont {
    font-size: 12px;
}

.headfontcolor {
    color: #fff !important;
}

.search_by-column_pop {
    width: 203px;
}

.search_by-column_pop_btn {
    width: 130px;
    *width: 135px;
}

.search_by-columnthrd-prty-comp {
    padding-left: 10px;
}