.divobjBulkEditRightsAcquired .rightsAcquiredBulkEditBody
{
width: 100%; }
.divobjBulkEditRightsAcquired .bulkEditReviewStatusHeader
{
width: 100%; height: 35px; float: left; background-color: #f0f0f0; }
.divobjBulkEditRightsAcquired .reviewStatusDdlContainer
{
float: left; padding:8px 10px 10px 15px; font-weight:bold; }
.divobjBulkEditRightsAcquired .applyCancelContainer
{
float: right; padding:8px 10px 5px 0;}
.divobjBulkEditRightsAcquired .resetSelectionStrip
{
width: 100%; float:left; background-color: #AFDBFE }
.divobjBulkEditRightsAcquired .resetContainer
{
padding:5px 10px;  float:right;  }
.divobjBulkEditRightsAcquired #divTerritorialRightsPopupTabContent
{
width: 100%;height: 425px; clear:both;}
select > option
{
    padding-right:10px;
}
