<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- required to read the <dataCacheClient> element -->
    <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection,
            Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, 
            Culture=neutral, PublicKeyToken=31bf3856ad364e35" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <dataCacheClient>
    <hosts>
      <host name="HDCHSHOSDB39895" cachePort="22233"/>
      <!--<host name="CacheServer2" cachePort="22233"/>-->
    </hosts>
    <securityProperties mode="None" protectionLevel="None"/>
  </dataCacheClient>

  <!--<appSettings>
    <add key="CacheServerName" value="HDCHSHOSDB39895" />
    <add key="CacheServerPort" value="22233" />
    <add key="NamedCacheToUse" value="default" />
    <add key="CacheEnabled" value="True" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>-->
  <!--<system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
