<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpSoapBindingConfig" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://r2.umusic.net:443/r2/Company/services/WSCompanySearchService"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpSoapBindingConfig"
          contract="WSCompanySearchServiceProxy.WSCompanySearchService"
          name="WSCompanySearchService" />
      <endpoint address="https://r2.umusic.net:443/r2/People/services/WSPeopleSearchService"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpSoapBindingConfig"
          contract="WSPeopleSearchServiceProxy.WSPeopleSearchService"
          name="WSPeopleSearchService" />
      <endpoint address="https://r2.umusic.net:443/r2/Label/services/WSLabelSearchService"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpSoapBindingConfig"
          contract="WSLabelSearchServiceProxy.WSLabelSearchService"
          name="WSLabelSearchService" />
      <endpoint address="https://r2.umusic.net:443/r2/Project/services/WSProjectSearchService"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpSoapBindingConfig"
          contract="WSProjectSearchServiceProxy.WSProjectSearchService"
          name="WSProjectSearchService" />
      <endpoint address="https://r2.umusic.net:443/r2/Release/services/WSReleaseSearchService"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpSoapBindingConfig"
          contract="WSReleaseSearchServiceProxy.WSReleaseSearchService"
          name="WSReleaseSearchService" />
      <endpoint address="https://r2.umusic.net:443/r2/ResourceGroup/services/WSResourceGroupSearchService"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpSoapBindingConfig"
          contract="WSResourceGroupSearchServiceProxy.WSResourceGroupSearchService"
          name="WSResourceGroupSearchService" />
      <endpoint address="https://r2.umusic.net:443/r2/Resource/services/WSResourceSearchService"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpSoapBindingConfig"
          contract="WSResourceSearchServiceProxy.WSResourceSearchService"
          name="WSResourceSearchService" />
      <endpoint address="https://r2.umusic.net:443/r2/Series/services/WSSeriesSearchService"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpSoapBindingConfig"
          contract="WSSeriesSearchServiceProxy.WSSeriesSearchService"
          name="WSSeriesSearchService" />
      <endpoint address="https://r2.umusic.net:443/r2/Work/services/WSWorkSearchService"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpSoapBindingConfig"
          contract="WSWorkSearchServiceProxy.WSWorkSearchService" name="WSWorkSearchService" />
    </client>
  </system.serviceModel>
</configuration>